Data/*.mat
MatlabCode/deprecated
Presentations/VSS
Analysis/201911_firstlook
Analysis/201912_tryUNeye
Figures/sessionQA
Figures/simpleSTA
Figures/eyesmooth
Figures
__pycache__
FreeViewing.code-workspace
Analysis/notebooks/.ipynb_checkpoints
Data/uneye
Data/pkls
Data/labels
gmodsac0_1231
.vscode/settings.json
Data/grating_subspace
Data/lfp
MatlabCode/+session
Data/spikes
*.asv
Data/
