Data/*.mat
MatlabCode/deprecated
Presentations/VSS
Analysis/201911_firstlook
Analysis/201912_tryUNeye
Figures/sessionQA
Figures/simpleSTA
Figures/eyesmooth
Figures
__pycache__
FreeViewing.code-workspace
Analysis/notebooks/.ipynb_checkpoints
Data/uneye
Data/pkls
Data/labels
gmodsac0_1231
.vscode/settings.json
Data/grating_subspace
Data/lfp
MatlabCode/+session
Data/spikes
*.asv
Data/
*.pyc
*.mp4
*.ckpt
*.experiment
Analysis/notebooks/checkpoints
Analysis/notebooks/lightning_logs
Analysis/notebooks/__pycache__/
Analysis/notebooks/test_cores_devel/
Analysis/notebooks/test_cores_refine/
Analysis/notebooks/core_shifter/
Analysis/notebooks/core_shifter_calibration/
Analysis/notebooks/core_shifter_ls1/
Analysis/notebooks/core_shifter_ls2/
Analysis/notebooks/core_shifter_ls4/
Analysis/notebooks/test_linear_model/
Analysis/notebooks/glms/
